In [2]:
import pandas as pd
import sqlite3

In [3]:
conn = sqlite3.connect("case_study.db")

In [4]:
cur = conn.cursor()

In [5]:
cur.execute("SELECT f.name, SUM(CASE WHEN b.memid = 0 THEN (slots * guestcost) ELSE (slots * membercost) END) AS cost FROM Bookings AS b LEFT JOIN Facilities AS f ON b.facid = f.facid LEFT JOIN Members AS m ON b.memid = m.memid GROUP BY b.facid HAVING cost < 1000")

In [6]:
cur.fetchall()

[('Table Tennis', 180), ('Snooker Table', 240), ('Pool Table', 270)]

In [7]:
cur.execute("SELECT m.memid, (m.surname|| ' '|| m.firstname) AS membername, (m2.surname || ' ' ||m2.firstname) AS recommender FROM Members AS m LEFT JOIN Members AS m2 ON m.recommendedby = m2.memid ORDER BY membername")

In [8]:
cur.fetchall()

[(15, 'Bader Florence', 'Stibbons Ponder'),
 (12, 'Baker Anne', 'Stibbons Ponder'),
 (16, 'Baker Timothy', 'Farrell Jemima'),
 (8, 'Boothe Tim', 'Rownam Tim'),
 (5, 'Butters Gerald', 'Smith Darren'),
 (22, 'Coplin Joan', 'Baker Timothy'),
 (36, 'Crumpet Erica', 'Smith Tracy'),
 (7, 'Dare Nancy', 'Joplette Janice'),
 (28, 'Farrell David', None),
 (13, 'Farrell Jemima', None),
 (0, 'GUEST GUEST', None),
 (20, 'Genting Matthew', 'Butters Gerald'),
 (35, 'Hunt John', 'Purview Millicent'),
 (11, 'Jones David', 'Joplette Janice'),
 (26, 'Jones Douglas', 'Jones David'),
 (4, 'Joplette Janice', 'Smith Darren'),
 (21, 'Mackenzie Anna', 'Smith Darren'),
 (10, 'Owen Charles', 'Smith Darren'),
 (17, 'Pinker David', 'Farrell Jemima'),
 (30, 'Purview Millicent', 'Smith Tracy'),
 (3, 'Rownam Tim', None),
 (27, 'Rumney Henrietta', 'Genting Matthew'),
 (24, 'Sarwin Ramnaresh', 'Bader Florence'),
 (1, 'Smith Darren', None),
 (37, 'Smith Darren', None),
 (14, 'Smith Jack', 'Smith Darren'),
 (2, 'Smith Tracy', None),
 (9, 'Stibbons Ponder', 'Tracy Burton'),
 (6, 'Tracy Burton', None),
 (33, 'Tupperware Hyacinth', None),
 (29, 'Worthington-Smyth Henry', 'Smith Tracy')]

In [9]:
cur.execute("SELECT f.name, SUM(b.slots) AS totalmemberslots FROM Facilities AS f LEFT JOIN Bookings AS b ON f.facid = b.facid WHERE b.memid > 0 GROUP BY f.name ORDER BY bookid")

In [10]:
cur.fetchall()

[('Table Tennis', 794),
 ('Massage Room 1', 884),
 ('Snooker Table', 860),
 ('Pool Table', 856),
 ('Tennis Court 1', 957),
 ('Squash Court', 418),
 ('Badminton Court', 1086),
 ('Tennis Court 2', 882),
 ('Massage Room 2', 54)]

In [12]:
cur.execute("SELECT f.name, strftime('%Y-%m',b.starttime) AS year_month, SUM(b.slots) AS totalmemberslots FROM Facilities AS f LEFT JOIN Bookings AS b ON f.facid = b.facid WHERE b.memid > 0 GROUP BY f.name, year_month ORDER BY b.bookid")

In [13]:
cur.fetchall()

[('Table Tennis', '2012-07', 98),
 ('Massage Room 1', '2012-07', 166),
 ('Snooker Table', '2012-07', 140),
 ('Pool Table', '2012-07', 110),
 ('Tennis Court 1', '2012-07', 201),
 ('Squash Court', '2012-07', 50),
 ('Badminton Court', '2012-07', 165),
 ('Tennis Court 2', '2012-07', 123),
 ('Massage Room 2', '2012-07', 8),
 ('Tennis Court 1', '2012-08', 339),
 ('Tennis Court 2', '2012-08', 345),
 ('Badminton Court', '2012-08', 414),
 ('Table Tennis', '2012-08', 296),
 ('Massage Room 1', '2012-08', 316),
 ('Massage Room 2', '2012-08', 18),
 ('Squash Court', '2012-08', 184),
 ('Snooker Table', '2012-08', 316),
 ('Pool Table', '2012-08', 303),
 ('Tennis Court 1', '2012-09', 417),
 ('Tennis Court 2', '2012-09', 414),
 ('Badminton Court', '2012-09', 507),
 ('Table Tennis', '2012-09', 400),
 ('Massage Room 1', '2012-09', 402),
 ('Massage Room 2', '2012-09', 28),
 ('Squash Court', '2012-09', 184),
 ('Snooker Table', '2012-09', 404),
 ('Pool Table', '2012-09', 443)]