In [6]:
import pandas as pd
import sqlite3

In [12]:
conn = sqlite3.connect("case_study.db")

In [41]:
cur = conn.cursor()

In [110]:
cur.execute("SELECT (m.surname|| ' '|| m.firstname) AS membername, (m2.surname || ' ' ||m2.firstname) AS recommender FROM Members AS m  LEFT JOIN Members AS m2  ON m.recommendedby = m2.memid ORDER BY membername")

In [111]:
cur.fetchall()

[('Bader Florence', 'Stibbons Ponder'),
 ('Baker Anne', 'Stibbons Ponder'),
 ('Baker Timothy', 'Farrell Jemima'),
 ('Boothe Tim', 'Rownam Tim'),
 ('Butters Gerald', 'Smith Darren'),
 ('Coplin Joan', 'Baker Timothy'),
 ('Crumpet Erica', 'Smith Tracy'),
 ('Dare Nancy', 'Joplette Janice'),
 ('Farrell David', None),
 ('Farrell Jemima', None),
 ('GUEST GUEST', None),
 ('Genting Matthew', 'Butters Gerald'),
 ('Hunt John', 'Purview Millicent'),
 ('Jones David', 'Joplette Janice'),
 ('Jones Douglas', 'Jones David'),
 ('Joplette Janice', 'Smith Darren'),
 ('Mackenzie Anna', 'Smith Darren'),
 ('Owen Charles', 'Smith Darren'),
 ('Pinker David', 'Farrell Jemima'),
 ('Purview Millicent', 'Smith Tracy'),
 ('Rownam Tim', None),
 ('Rumney Henrietta', 'Genting Matthew'),
 ('Sarwin Ramnaresh', 'Bader Florence'),
 ('Smith Darren', None),
 ('Smith Darren', None),
 ('Smith Jack', 'Smith Darren'),
 ('Smith Tracy', None),
 ('Stibbons Ponder', 'Tracy Burton'),
 ('Tracy Burton', None),
 ('Tupperware Hyacinth', None),
 ('Worthington-Smyth Henry', 'Smith Tracy')]