# Capstone Two Data Wrangling

In [28]:
import sqlite3


Data was scraped from pro-football-reference.com/teams, and includes data from 32 teams for the last 17 years. Data is only used from 2002-2019, as the Houston Texans were included in the NFL in 2002. As the 2020 season is currently not over, it is not being used in this analysis.

Mistake when scraping, as I didn't account for null values from website representing zero turnovers. Fixing that here

In [2]:
conn = sqlite3.connect('NFLstats.db')
curr =  conn.cursor()
curr.execute("UPDATE weeks SET Week_Def_Turnovers = 0 WHERE Week_Def_Turnovers IS Null")
curr.fetchall()
conn.commit()
conn.close()

In [3]:
conn = sqlite3.connect('NFLstats.db')
curr =  conn.cursor()
curr.execute("UPDATE weeks SET Week_Off_Turnovers = 0 WHERE Week_Off_Turnovers IS Null")
conn.commit()
conn.close()

In [22]:
def updateWeekPassYards(Week_Pass_Yards, Team, Year, Week):
	conn = sqlite3.connect("NFLstats.db")
	cur = conn.cursor()
	cur.execute("UPDATE weeks SET Week_Pass_Yards = ? WHERE Team = ? AND Year = ? AND Week = ?", (Week_Pass_Yards, Team, Year, Week))
	conn.commit()
conn.close()

Fill in Bengals Missing pass_yards with info from https://www.footballdb.com/games/boxscore.html?gid=2010010311


Fill in Raiders Missing pass_yards with info from https://www.footballdb.com/games/boxscore.html?gid=2003122812

In [23]:
updateWeekPassYards(0, 'Cincinnati Bengals', 2009, 17)

In [24]:
updateWeekPassYards(0, 'Las Vegas Raiders', 2003, 17)

In [28]:
def updateWeekDefPassYards(Week_Def_Pass_Yards, Team, Year, Week):
	conn = sqlite3.connect("NFLstats.db")
	cur = conn.cursor()
	cur.execute("UPDATE weeks SET Week_Def_Pass_Yards = ? WHERE Team = ? AND Year = ? AND Week = ?", (Week_Def_Pass_Yards, Team, Year, Week))
	conn.commit()
conn.close()

Fill in Chargers Missing def_pass_yards with info from https://www.footballdb.com/games/boxscore.html?gid=2003122812


Fill in Jets Missing def_pass_yards with info from https://www.footballdb.com/games/boxscore.html?gid=2010010311

In [30]:
updateWeekDefPassYards(0,'New York Jets', 2009,17)

In [31]:
updateWeekDefPassYards(0, 'Los Angeles Chargers', 2003, 17)

Filling in missing schools

In [58]:
def updateDraftPlayerSchool(DraftPlayer, DraftSchool):
    conn = sqlite3.connect("NFLstats.db")
    cur = conn.cursor()
    cur.execute("UPDATE draft SET DraftSchool = ? WHERE DraftPlayer = ?", (DraftSchool, DraftPlayer))
    conn.commit()
    conn.close()

In [59]:
updateDraftPlayerSchool('Michael Bowie ', 'NE State')

In [60]:
updateDraftPlayerSchool('Jordan Mailata', 'Unknown')

In [61]:
updateDraftPlayerSchool('Greg Zuerlein','Missouri Western St')

In [62]:
updateDraftPlayerSchool('Moritz Boehringer', 'Unknown')

In [63]:
updateDraftPlayerSchool('Bill Bentley', 'Louisiana')

In [64]:
updateDraftPlayerSchool('Matt McCants', 'Ala-Birmingham')

In [65]:
updateDraftPlayerSchool('Akiem Hicks', 'Regina')

In [66]:
updateDraftPlayerSchool('Christo Bilukidi','Georgia St.')

In [67]:
updateDraftPlayerSchool('Ladarius Green', 'Louisiana')

In [68]:
updateDraftPlayerSchool('Michael Jasper', 'Bethel')

In [69]:
updateDraftPlayerSchool('Ryan Jensen', 'Colorado State-Pueblo')

In [ ]:
updateDraftPlayerSchool('Asa Jackson')

Coaching Staff Changes made in DB browser for SQlite

Changing remaining Safeties to Defensive Backs

In [1]:
def updateplayerposition(updatedDraftPosition, DraftPosition):
    conn = sqlite3.connect("NFLstats.db")
    cur = conn.cursor()
    cur.execute("UPDATE draft SET DraftPosition = ? WHERE DraftPosition = ?", (updatedDraftPosition, DraftPosition))
    conn.commit()
    conn.close()

In [4]:
updateplayerposition('DB', 'S')

In [8]:
updateplayerposition('LB', 'ILB')

In [10]:
updateplayerposition('DE', 'DL')

In [9]:
updateplayerposition('DB', 'CB')

In [11]:
updateplayerposition('ST', 'K')

In [12]:
updateplayerposition('ST', 'P')

In [13]:
updateplayerposition('ST', 'LS')

Update Starting Position where Scraper did not get correct

In [29]:
def updatestarterposition(updatedstarterposition, starterposition):
    conn = sqlite3.connect("NFLstats.db")
    cur = conn.cursor()
    cur.execute("UPDATE starters SET StartingPosition = ? WHERE StartingPosition = ?", (updatedstarterposition, starterposition))
    conn.commit()
    conn.close()

In [43]:
updatestarterposition('OL', 'LT')

In [44]:
updatestarterposition('OL', 'LG')

In [45]:
updatestarterposition('OL', 'RG')

In [46]:
updatestarterposition('OL', 'RT')

In [47]:
updatestarterposition('WR', 'wr')

In [48]:
updatestarterposition('TE', 'te')

Change StartingPlayerYrs Rook to 0 to make column numerical

In [49]:
def updatestartyears(updatedstartyears, starteryears):
    conn = sqlite3.connect("NFLstats.db")
    cur = conn.cursor()
    cur.execute("UPDATE starters SET StartingPlayerYrs = ? WHERE StartingPlayerYrs = ?", (updatedstartyears, starteryears))
    conn.commit()
    conn.close()

In [51]:
updatestartyears(0, 'Rook')